/*#response-area inactive {
    display:none;
}
*/

.resp-area.active {
    font-size: 1.2em;
    text-align: center;
    background: #F7D2D3;
    margin: 25px 0px;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}